@charset "UTF-8";
body {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.block_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block_header .header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.block_header .header_left .header_logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: none;
  height: 84px;
}

.block_header .header_left .header_city-timework {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 215px;
  margin-left: 83px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.block_header .header_left .header_city-timework .city {
  color: #665E5E;
  font-size: 22px;
  margin-bottom: 13px;
}

.block_header .header_left .header_city-timework .time {
  color: #59B039;
  font-size: 16px;
  text-align: center;
}

.block_header .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.block_header .header_right .header_number-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block_header .header_right .header_number-call .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 23px;
  color: #665E5E;
  margin-bottom: 13px;
}

.block_header .header_right .header_number-call .number_call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.block_header .header_right .header_number-call .number_call .vk {
  margin-right: 27px;
}

.block_header .header_right .header_number-call .number_call .call {
  height: 25px;
  border: 1px solid #59B039;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  text-align: center;
  color: #59B039;
}

.block_nav {
  height: 93px;
  min-width: 100%;
  background: #59B039;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Change the link color to #111 (black) on hover */
}

.block_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1274px;
  width: 1274px;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  overflow: hidden;
}

.block_nav ul li {
  float: left;
  padding: 16px  27px;
  border: solid 1px transparent;
}

.block_nav ul li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 21px;
  text-decoration: none;
}

.block_nav li:hover {
  border: solid 1px white;
}

.block_firstbanner {
  background-image: url("img/firstbaner-back.png");
  background-position-y: -5px;
  background-repeat: no-repeat;
  padding-bottom: 81px;
  height: 456px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block_firstbanner div {
  max-width: 1210px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.block_firstbanner div .firstbanner_str1 {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 47px;
  text-transform: uppercase;
  color: #59B039;
}

.block_firstbanner div .firstbanner_str1 span {
  font-size: 70px;
}

.block_firstbanner div .firstbanner_str2 {
  font-size: 54px;
}

.block_firstbanner div .firstbanner_str2 span {
  font-size: 74px;
}

.block_call {
  height: 355px;
  width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 50px;
}

.block_call .call_headline {
  font-size: 51px;
}

.block_call input {
  background-position: 10px 10px;
  height: 56px;
  border: 1px solid #59b039;
  background-repeat: no-repeat;
}

.block_call #email #date .info {
  margin-bottom: 25px;
}

.block_call .call_long {
  width: 590px;
  margin-right: 39px;
}

.block_call .call_long input {
  width: 590px;
  background-position: 18px 15px;
  background-image: url("/scss/img/MArker.png");
}

.block_call .call_long input::-webkit-input-placeholder {
  padding-left: 70px;
  font-size: 22px;
  font-family: "Roboto";
  color: #c4c4c4;
}

.block_call .call_long input:-ms-input-placeholder {
  padding-left: 70px;
  font-size: 22px;
  font-family: "Roboto";
  color: #c4c4c4;
}

.block_call .call_long input::-ms-input-placeholder {
  padding-left: 70px;
  font-size: 22px;
  font-family: "Roboto";
  color: #c4c4c4;
}

.block_call .call_long input::placeholder {
  padding-left: 70px;
  font-size: 22px;
  font-family: "Roboto";
  color: #c4c4c4;
}

.block_call .call_long input:first-child {
  margin-bottom: 25px;
  background-image: none;
}

.block_call .call_short {
  width: 126px;
  margin-right: 39px;
}

.block_call .call_short input {
  text-indent: 10px;
  width: 126px;
  background-position: 18px 15px;
  background-image: url("/scss/img/Clock-gray.png");
}

.block_call .call_short input::-webkit-input-placeholder {
  padding-left: 50px;
  content: "Дата";
  font-size: 22px;
  font-family: "Roboto";
  color: #c4c4c4;
}

.block_call .call_short input:-ms-input-placeholder {
  padding-left: 50px;
  content: "Дата";
  font-size: 22px;
  font-family: "Roboto";
  color: #c4c4c4;
}

.block_call .call_short input::-ms-input-placeholder {
  padding-left: 50px;
  content: "Дата";
  font-size: 22px;
  font-family: "Roboto";
  color: #c4c4c4;
}

.block_call .call_short input::placeholder {
  padding-left: 50px;
  content: "Дата";
  font-size: 22px;
  font-family: "Roboto";
  color: #c4c4c4;
}

.block_call .call_short input:first-child {
  margin-bottom: 25px;
  background-image: url("/scss/img/Calend.png");
}

.block_call .call_info {
  width: 277px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block_call .call_info .info {
  margin-bottom: 25px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block_call .call_info .info span {
  font-size: 18px;
  color: rgba(102, 94, 94, 0.72);
}

.block_call .call_info .info span:first-child {
  color: #c4c4c4;
}

.block_call .call_info button {
  position: relative;
  width: 277px;
  height: 60px;
  background: #59b039;
  border: none;
  color: white;
  font-size: 18px;
}

.block_call .call_info button::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: 277px;
  height: 60px;
  left: 12px;
  top: 13px;
  border: 1px solid #c4c4c4;
}

.block_call .call_info button:hover {
  background: #214910;
  font-size: 19px;
}

.block_call .cdiv {
  height: 308px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block_importantpoints {
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 82px;
}

.block_importantpoints .importantpoints_headline {
  font-size: 51px;
}

.block_importantpoints .block_baner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block_importantpoints .block_baner .banner {
  position: relative;
  width: 748px;
  height: 507px;
  background-image: url("/scss/img/imagebanner.png");
  z-index: -1;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block_importantpoints .block_baner .banner::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: " ";
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(24.86%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.58)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 24.86%, rgba(0, 0, 0, 0.58) 100%);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.block_importantpoints .block_baner .banner .banner_text {
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block_importantpoints .block_baner .banner .banner_text .tt {
  margin-bottom: 32px;
  text-align: center;
  font-size: 33px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 120px #000000;
}

.block_importantpoints .block_baner .banner .banner_text .text_green {
  background-image: url("/scss/img/banner_but.png");
  background-repeat: no-repeat;
  width: 392px;
  height: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block_importantpoints .block_baner .banner .banner_text .text_green span {
  font-size: 20px;
  text-align: center;
}

.block_importantpoints .block_baner .left {
  width: 340px;
  margin-left: 73px;
}

.block_importantpoints .block_baner .left .left_str {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 507px;
}

.block_importantpoints .block_baner .left .left_str li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block_importantpoints .block_baner .left .left_str li:nth-child(1) > img {
  margin-top: 10px;
  width: 36px;
  height: 31px;
}

.block_importantpoints .block_baner .left .left_str li:nth-child(2) > img {
  width: 38px;
  height: 37.99px;
}

.block_importantpoints .block_baner .left .left_str li:nth-child(3) > img {
  width: 32px;
  height: 37.99px;
}

.block_importantpoints .block_baner .left .left_str li:nth-child(4) > img {
  width: 35px;
  height: 37.99px;
}

.block_importantpoints .block_baner .left .left_str li .text_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 54px;
  color: #59b039;
  font-size: 36px;
}

.block_importantpoints .block_baner .left .left_str li .text_left .str_gray {
  font-size: 18px;
  color: #646062;
}

.block_example .example .example_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block_example .example .example_top :first-child {
  font-size: 51px;
  color: #333333;
}

.block_example .example .example_top :last-child {
  font-size: 25px;
}

.block_example .example .example_list {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block_example .example .example_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.block_example .example .example_list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block_example .example .example_list ul li .example_text {
  margin-top: 35px;
  font-size: 25px;
  color: #72AF30;
}

.block_example .example .example_list ul li .example_img {
  width: 379px;
  height: 357px;
  background-repeat: no-repeat;
  z-index: 0;
  position: relative;
}

.block_example .example .example_list ul li:nth-child(1) > .example_img {
  background-image: url("/scss/img/image 4.1.png");
}

.block_example .example .example_list ul li:nth-child(2) > .example_img {
  margin: 0 30px;
  background-image: url("/scss/img/image 5.1.png");
}

.block_example .example .example_list ul li:nth-child(3) > .example_img {
  background-image: url("/scss/img/image 6.1.png");
}

.block_example .example .example_list ul li:hover .example_img:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  content: " ";
  background-image: url("/scss/img/hoverexample.png");
}

.block_example .example .example_list ul li:hover .example_text {
  color: #214910;
}

.block_getcatalog {
  margin-top: 80px;
  height: 440px;
  width: 100%;
  background: #59b039;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

.block_getcatalog .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1210px;
  height: 440px;
}

.block_getcatalog .catalog .catalog_book {
  width: 655px;
  height: 100%;
  background-image: url(/scss/img/book.png);
  background-position-y: -70px;
  background-position-x: -30px;
}

.block_getcatalog .catalog .catalog_textbox {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
}

.block_getcatalog .catalog .catalog_textbox .catalog_headline {
  font-size: 50px;
  color: #333333;
}

.block_getcatalog .catalog .catalog_textbox .catalog_logo {
  margin-left: 10px;
  margin-top: 32px;
}

.block_getcatalog .catalog .catalog_textbox .catalog_logo .logo_text {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.64);
}

.block_getcatalog .catalog .catalog_textbox .catalog_logo .logo_img {
  margin-left: 25px;
}

.block_getcatalog .catalog .catalog_textbox .catalog_text {
  margin-top: 34px;
  margin-left: 10px;
  font-size: 25px;
  color: #214910;
}

.block_getcatalog .catalog .catalog_textbox .catalog_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block_getcatalog .catalog .catalog_textbox .catalog_button button {
  margin-top: 34px;
  position: relative;
  width: 199px;
  height: 47px;
  background: #28411f;
  border: none;
  color: white;
  font-size: 18px;
  z-index: 1;
}

.block_process {
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

.block_process .process_headline {
  font-size: 51px;
  color: #333333;
}

.block_process .process_list {
  margin-top: 80px;
}

.block_process .process_list ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block_process .process_list ul li {
  font-size: 17px;
  font-weight: bold;
}

.block_process .process_list ul li .list_center {
  color: #59B039;
}

.block_process .process_list ul li .list_bot {
  color: #646062;
}

.block_process .process_list ul li .list_vector {
  margin: 0 30px;
  width: 79.74px;
  height: 62px;
}

.block_process .process_button {
  position: relative;
  width: 277px;
  height: 60px;
  background: #59b039;
  border: none;
  color: white;
  font-size: 18px;
}

.block_process .process_button::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: 277px;
  height: 60px;
  left: 12px;
  top: 13px;
  border: 1px solid #c4c4c4;
}

.block_process .process_button:hover {
  background: #214910;
  font-size: 19px;
}
/*# sourceMappingURL=main.css.map */